<mat-toolbar>
  <button mat-icon-button *ngIf="sidenavMode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
        menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
        close
    </mat-icon>
  </button>

  <h1>MidnightOil</h1>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav mode="side" opened="true">

        <img class="avatar mat-elevation-z8" src="assets/images/user.jpg" alt="">
        <h4 class="name">{{username}}</h4>
        <span>{{userId}}</span>
        <p class="role">{{role}}</p>

        <mat-divider></mat-divider>
        <button mat-button class="menu-button" (click)="changeTitle('home')">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>
        <button mat-button class="menu-button" (click)="changeTitle('profile')">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
        </button>
        <button mat-button class="menu-button" (click)="changeTitle('info')">
            <mat-icon>info</mat-icon>
            <span>About</span>
        </button>
    </mat-sidenav>

    <mat-sidenav-content>
        
        <div class="content mat-elevation-z4" style="display: flex; align-items: end;">
            <div style="border: 1px solid #eee; display: flex; padding: 8px; background-color: #002b5c;">
                <div class="calendarContainer" style="height: 40vh;">
                    <ejs-calendar [(value)]="calendarDate" (change)="onChange($event)"></ejs-calendar>
                </div>
                
                <div style="padding: 4px;
                width: fit-content;
                height: 40vh;
                margin-left: 6px;
                overflow: auto;">
                    <div style="margin-bottom: 8px;">
                        <p class="selectedDate">Overtime For: {{model_result}}</p>
                    </div>

                    <div *ngFor="let shift of overtimeShifts" class="overtimeBox" >
                        <p>Date: {{shift?.shiftDate}}</p>
                        <p>Shift: {{shift?.shiftStartTime}} - {{shift?.shiftEndTime}}</p>
                        <!-- <p>End: {{shift?.shiftEndTime}}</p> -->
                        <p>Department: {{shift?.department}}</p>
                        <!-- <p>{{shift?.coveredBy}}</p> -->
                    </div>  
                </div>
            </div>
        </div>
        
    </mat-sidenav-content>

</mat-sidenav-container>

